<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">Add User</button>
<div class="card card-body mb-3" *ngIf="showUserForm">
  <h2>Add User</h2>
  <form class="form-group" (submit)="onSubmit($event)">
    <label for="">First Name</label>
    <input (keydown)="fireEvent($event)" type="text" class="form-control mb-3" name="firstName">

    <button (click)="addUser({firstName: 'Mary', lastName: 'Jackson', isActive: true})" class="btn btn-block mb-3"
            [ngClass]="currentClasses">Add New User
    </button>
  </form>
</div>
<h2>Users</h2>

<ul class="list-unstyled" *ngIf="loaded && users?.length > 0">
  <li *ngFor="let user of users" class="card card-body mb-2" [class.bg-light]="user.isActive"
      [style.border-color]="user.isActive ? 'green' : ''">
    <div class="row">
      <div class="col-sm-4">
        <!-- <img [src]="user.image"> -->
        <img src="{{user.image}}" alt="" class="img-fluid">
        <!-- <img bind-src="user.image" alt="" class="img-fluid"> -->
      </div>
      <div class="col-sm 8">
        <h3 [ngStyle]="currentStyles">{{user["firstName"] | uppercase}}, {{user["lastName"]}}
          <small>
            <button (click)="user.hide = !user.hide" class="btn btn-dark btn-sm">
              <i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i>
            </button>
          </small>
        </h3>
        <ul *ngIf="!user.hide" class="list-group">
          <li class="list-group-item">Age: {{ user.age }}</li>
          <li class="list-group-item">City: {{ user.address.city }}</li>
          <li class="list-group-item">Street: {{ user.address.street }}</li>
          <li class="list-group-item">State: {{ user.address.state }}</li>
          <li class="list-group-item">Balance: {{user.balance | currency}}</li>
          <li class="list-group-item">Date: {{user.registered | date:"longDate"}}</li>
        </ul>
      </div>
    </div>
  </li>
  <!-- TODO  -->
</ul>

<ng-template #noUsers>No Users Found</ng-template>
<h4 *ngIf="users?.length == 0">No users found</h4>
<h4 *ngIf="!loaded">Loading users...</h4>
