<h2>Users</h2>
<button [disabled]="!enableAdd" class="btn btn-light btn-block mb-3">Add New User</button>
<ul class="list-unstyled" *ngIf="loaded && users?.length > 0">
  <li *ngFor="let user of users" class="card card-body mb-2">
    <div class="row">
      <div class="col-sm-4">
        <!-- <img [src]="user.image"> -->
        <img src="{{user.image}}" alt="" class="img-fluid">
        <!-- <img bind-src="user.image" alt="" class="img-fluid"> -->
      </div>
      <div class="col-sm 8">
        <h2>{{user["firstName"]}}, {{user["lastName"]}}</h2>
        <ul *ngIf="showExtended" class="list-group">
          <li class="list-group-item">Age: {{ user.age }}</li>
          <li class="list-group-item">City: {{ user.address.city }}</li>
          <li class="list-group-item">Street: {{ user.address.street }}</li>
          <li class="list-group-item">State: {{ user.address.state }}</li>
        </ul>
      </div>
    </div>
  </li>
   <!-- TODO  -->
</ul>

<ng-template #noUsers>No Users Found</ng-template>
<h4 *ngIf="users?.length == 0">No users found</h4>
<h4 *ngIf="!loaded">Loading users...</h4>
